# Maven
target

# Intellij
*.iml
*.iws
.idea

# Eclipse
.classpath
.project
.settings/

.asciidoctor
diag-*.png
work
.node
package-lock.json
yarn.lock
node_modules
dist
.p2localrepository
documentation/generate-index.bat
documentation/rebuild.bat
documentation/rebuild_front.bat
documentation/rebuild_newUI.bat
documentation/rebuild_refresh_generated_pages.bat
